.hidden {
  display: none;
}
body {
  padding-top: 60px;
  font-family: "Poppins", sans-serif !important;
}

.homebanner {
  background-color: #f7f7f7;
}
.homebanner h1 {
  margin-bottom: 33px;
}
.homebanner p {
  margin-bottom: 10px;
}

.trustbirdeye h2 {
  text-align: center;
  padding: 55px 0px 25px 0px;
}

.birdeyeBusiness h4 {
  margin-left: 80px;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #dbe7e4;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background-color: #eef1f5 !important;
  font-size: 12px;
}
#footer h5 {
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #070707;
}
#footer a {
  text-decoration: none !important;
  background-color: transparent;
}

#footer ul.quick-links li a {
  color: #7a909b;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#colTitle {
  color: #000000;
  font-weight: 500;
}
